parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    fileExtensions:
        - php
        - phtml
    paths:
        - Api
        - Block
        - Console
        - Controller
        - Gateway
        - Helper
        - Logger
        - Model
        - Observer
        - Plugin
        - Registry
        - Service
        - Setup
        - Test
        - Ui
        - view/adminhtml/templates
        - view/frontend/templates
    excludePaths:
        - */Test/Unit/Fixtures/*
        - */Test/Unit/*/Fixtures/*
        # ####################################
        # Exclude until features are anounced
        #
        - Model/Api/SearchCriteria/JoinProcessor/ReviewRatingSummary.php
        - Api/LandingPageRepositoryInterface.php
        - Model/LandingPageRepository.php
        - Controller/LandingPage
        #
        # ###################################
    ignoreErrors:
        -
            # Private properties defined in class and used in traits of \HawkSearch\Connector\Compatibility
            message: '#Property [a-zA-Z0-9\\_]+::\$(deprecatedMethods|deprecatedPublicProperties) is never read, only written.#'
        -
            # Private properties defined in class and used in traits of \HawkSearch\Connector\Compatibility
            message: '#Property [a-zA-Z0-9\\_]+::\$(deprecatedMethods|deprecatedPublicProperties) type has no value type specified in iterable type array.#'
        -
            message: '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+\(\) has parameter \$[a-zA-Z0-9_]+ with no value type specified in iterable type array.#'
            path: */Test/Unit/*
        -
            message: '#Variable \$block might not be defined.#'
            path: *.phtml
        -
            message: '#Variable \$this might not be defined.#'
            path: *.phtml
        -
            message: '#Variable \$escaper might not be defined.#'
            path: *.phtml
#        -
#            message: '#\(string\) does not accept Magento\\Framework\\Phrase.#'
#        -
#            identifier: missingType.parameter
#            paths:
#                - Plugin
#                - Model
