<?xml version="1.0"?>
<!--
  /**
   * Copyright (c) 2024 Hawksearch (www.hawksearch.com) - All Rights Reserved
   *
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
   * IN THE SOFTWARE.
   */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hawksearch_indexing_settings>
            <indexing>
                <enable_indexing>0</enable_indexing>
                <items_batch_size>125</items_batch_size>
            </indexing>
            <failure_recovery>
                <enable>1</enable>
                <maximum_retries>3</maximum_retries>
                <maximum_open_delay>43200</maximum_open_delay>
                <cron_expr>*/5 * * * *</cron_expr>
            </failure_recovery>
        </hawksearch_indexing_settings>
        <hawksearch_advanced_settings>
            <advanced>
                <remove_pub_assets_url>1</remove_pub_assets_url>
            </advanced>
        </hawksearch_advanced_settings>
        <hawksearch_event_tracking_settings>
            <general>
                <enable>1</enable>
            </general>
        </hawksearch_event_tracking_settings>
    </default>
</config>
