<?xml version="1.0"?>
<!--
  /**
   * Copyright (c) 2020 Hawksearch (www.hawksearch.com) - All Rights Reserved
   *
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
   * IN THE SOFTWARE.
   */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="HawkSearch\EsIndexing\Api\FieldsManagementInterface"
                type="HawkSearch\EsIndexing\Model\FieldsManagement"/>
    <preference for="HawkSearch\EsIndexing\Model\Indexing\ItemsProviderPoolInterface"
                type="HawkSearch\EsIndexing\Model\Indexing\ItemsProviderPool"/>
    <preference for="HawkSearch\EsIndexing\Model\Indexing\EntityIndexerPoolInterface"
                type="HawkSearch\EsIndexing\Model\Indexing\EntityIndexerPool"/>
    <preference for="HawkSearch\EsIndexing\Api\Data\IndexItemsContextInterface"
                type="HawkSearch\EsIndexing\Model\IndexItemsContext"/>
    <preference for="HawkSearch\EsIndexing\Api\Data\IndexItemsInterface" type="HawkSearch\EsIndexing\Model\IndexItem"/>
    <preference for="HawkSearch\EsIndexing\Api\Data\IndexListInterface" type="HawkSearch\EsIndexing\Model\IndexList"/>
    <preference for="HawkSearch\EsIndexing\Model\Indexing\IndexManagementInterface"
                type="HawkSearch\EsIndexing\Model\Indexing\IndexManagement"/>
    <preference for="HawkSearch\EsIndexing\Api\Data\EsIndexInterface"
                type="HawkSearch\EsIndexing\Model\EsIndex"/>


    <!-- Configs -->
    <type name="HawkSearch\EsIndexing\Model\Config\Products">
        <arguments>
            <argument name="configRootPath" xsi:type="string">hawksearch_product_settings</argument>
            <argument name="configGroup" xsi:type="string">products</argument>
        </arguments>
    </type>
    <type name="HawkSearch\EsIndexing\Model\Config\General">
        <arguments>
            <argument name="configRootPath" xsi:type="string">hawksearch_connector</argument>
            <argument name="configGroup" xsi:type="string">indexing_general_settings</argument>
        </arguments>
    </type>
    <type name="HawkSearch\EsIndexing\Model\Config\Indexing">
        <arguments>
            <argument name="configRootPath" xsi:type="string">hawksearch_indexing_settings</argument>
            <argument name="configGroup" xsi:type="string">indexing</argument>
        </arguments>
    </type>
    <!-- Configs -->

    <!-- Instructions infrastructure -->
    <virtualType name="HawkSearchEsIndexingInstructionsPool" type="HawkSearch\Connector\Gateway\Instruction\InstructionPool">
        <arguments>
            <argument name="instructions" xsi:type="array">
                <item name="getIndexList" xsi:type="string">HawkSearchEsIndexingGetIndexListInstruction</item>
                <item name="getCurrentIndex" xsi:type="string">HawkSearchEsIndexingGetCurrentIndexInstruction</item>
                <item name="setCurrentIndex" xsi:type="string">HawkSearchEsIndexingSetCurrentIndexInstruction</item>
                <item name="createIndex" xsi:type="string">HawkSearchEsIndexingCreateIndexInstruction</item>
                <item name="deleteIndex" xsi:type="string">HawkSearchEsIndexingDeleteIndexInstruction</item>
                <item name="indexItems" xsi:type="string">HawkSearchEsIndexingIndexItemsInstruction</item>
                <item name="deleteItems" xsi:type="string">HawkSearchEsIndexingDeleteItemsInstruction</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Instructions infrastructure -->

    <!-- Instructions  -->
    <!-- getIndexList Instruction  -->
    <virtualType name="HawkSearchEsIndexingGetIndexListInstruction" type="HawkSearch\Connector\Gateway\Instruction\GatewayInstruction">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">HawkSearch\Connector\Gateway\Request\BuilderComposite</argument>
            <argument name="transferFactory" xsi:type="object">HawkSearchEsIndexingGetIndexListTransferFactory</argument>
            <argument name="client" xsi:type="object">HawkSearch\Connector\Gateway\Http\Client</argument>
            <argument name="validator" xsi:type="object">HawkSearchEsIndexingBadResponseValidator</argument>
            <argument name="resultFactory" xsi:type="object">HawkSearchEsIndexingGetIndexResultFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingGetIndexListTransferFactory" type="HawkSearch\Connector\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="path" xsi:type="string">api/v2/indexing</argument>
            <argument name="method" xsi:type="string">GET</argument>
            <argument name="headers" xsi:type="object">HawkSearchApiHeaders</argument>
            <argument name="apiConfig" xsi:type="object">HawkSearch\EsIndexing\Gateway\Config\EsIndexingApiConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingGetIndexResultFactory" type="HawkSearch\Connector\Gateway\Instruction\ResultInterfaceFactory">
        <arguments>
            <argument xsi:type="string" name="instanceName">HawkSearch\EsIndexing\Gateway\Instruction\Result\IndexListResult</argument>
        </arguments>
    </virtualType>
    <!-- END getIndexList Instruction  -->

    <!-- getCurrentIndex Instruction  -->
    <virtualType name="HawkSearchEsIndexingGetCurrentIndexInstruction" type="HawkSearch\Connector\Gateway\Instruction\GatewayInstruction">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">HawkSearch\Connector\Gateway\Request\BuilderComposite</argument>
            <argument name="transferFactory" xsi:type="object">HawkSearchEsIndexingGetCurrentIndexTransferFactory</argument>
            <argument name="client" xsi:type="object">HawkSearch\Connector\Gateway\Http\Client</argument>
            <argument name="validator" xsi:type="object">HawkSearchEsIndexingBadResponseValidator</argument>
            <argument name="resultFactory" xsi:type="object">HawkSearchEsIndexingGetCurrentIndexResultFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingGetCurrentIndexTransferFactory" type="HawkSearch\Connector\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="path" xsi:type="string">api/v2/indexing/current</argument>
            <argument name="method" xsi:type="string">GET</argument>
            <argument name="headers" xsi:type="object">HawkSearchApiHeaders</argument>
            <argument name="apiConfig" xsi:type="object">HawkSearch\EsIndexing\Gateway\Config\EsIndexingApiConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingGetCurrentIndexResultFactory" type="HawkSearch\Connector\Gateway\Instruction\ResultInterfaceFactory">
        <arguments>
            <argument xsi:type="string" name="instanceName">HawkSearch\EsIndexing\Gateway\Instruction\Result\EsIndexResult</argument>
        </arguments>
    </virtualType>
    <!-- END getCurrentIndex Instruction  -->

    <!-- setCurrentIndex Instruction  -->
    <virtualType name="HawkSearchEsIndexingSetCurrentIndexInstruction" type="HawkSearch\Connector\Gateway\Instruction\GatewayInstruction">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">HawkSearchEsIndexingSetCurrentIndexRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">HawkSearchEsIndexingSetCurrentIndexTransferFactory</argument>
            <argument name="client" xsi:type="object">HawkSearch\Connector\Gateway\Http\Client</argument>
            <argument name="validator" xsi:type="object">HawkSearchEsIndexingBadResponseValidator</argument>
            <!--<argument name="handler" xsi:type="object">HawkSearchEsIndexingGetIndexListHandler</argument>-->
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingSetCurrentIndexRequestBuilder" type="HawkSearch\Connector\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="strict_data_builder" xsi:type="string">HawkSearch\Connector\Gateway\Request\StrictDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingSetCurrentIndexTransferFactory" type="HawkSearch\Connector\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="path" xsi:type="string">api/v2/indexing/set-current</argument>
            <argument name="method" xsi:type="string">POST</argument>
            <argument name="headers" xsi:type="object">HawkSearchApiHeaders</argument>
            <argument name="apiConfig" xsi:type="object">HawkSearch\EsIndexing\Gateway\Config\EsIndexingApiConfig</argument>
        </arguments>
    </virtualType>
    <!-- END setCurrentIndex Instruction  -->

    <!-- createIndex Instruction  -->
    <virtualType name="HawkSearchEsIndexingCreateIndexInstruction" type="HawkSearch\Connector\Gateway\Instruction\GatewayInstruction">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">HawkSearchEsIndexingCreateIndexRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">HawkSearchEsIndexingCreateIndexTransferFactory</argument>
            <argument name="client" xsi:type="object">HawkSearch\Connector\Gateway\Http\Client</argument>
            <argument name="validator" xsi:type="object">HawkSearchEsIndexingBadResponseValidator</argument>
            <argument name="resultFactory" xsi:type="object">HawkSearchEsIndexingCreateIndexResultFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingCreateIndexRequestBuilder" type="HawkSearch\Connector\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="strict_data_builder" xsi:type="string">HawkSearch\Connector\Gateway\Request\StrictDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingCreateIndexTransferFactory" type="HawkSearch\Connector\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="path" xsi:type="string">api/v2/indexing/create</argument>
            <argument name="method" xsi:type="string">POST</argument>
            <argument name="headers" xsi:type="object">HawkSearchApiHeaders</argument>
            <argument name="apiConfig" xsi:type="object">HawkSearch\EsIndexing\Gateway\Config\EsIndexingApiConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingCreateIndexResultFactory" type="HawkSearch\Connector\Gateway\Instruction\ResultInterfaceFactory">
        <arguments>
            <argument xsi:type="string" name="instanceName">HawkSearch\EsIndexing\Gateway\Instruction\Result\EsIndexResult</argument>
        </arguments>
    </virtualType>
    <!-- END createIndex Instruction  -->

    <!-- deleteIndex Instruction  -->
    <virtualType name="HawkSearchEsIndexingDeleteIndexInstruction" type="HawkSearch\Connector\Gateway\Instruction\GatewayInstruction">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">HawkSearchEsIndexingDeleteIndexRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">HawkSearchEsIndexingDeleteIndexTransferFactory</argument>
            <argument name="client" xsi:type="object">HawkSearch\Connector\Gateway\Http\Client</argument>
            <argument name="validator" xsi:type="object">HawkSearchEsIndexingBadResponseValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingDeleteIndexRequestBuilder" type="HawkSearch\Connector\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="strict_data_builder" xsi:type="string">HawkSearch\Connector\Gateway\Request\StrictDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingDeleteIndexTransferFactory" type="HawkSearch\Connector\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="path" xsi:type="string">api/v2/indexing/delete-index</argument>
            <argument name="method" xsi:type="string">POST</argument>
            <argument name="headers" xsi:type="object">HawkSearchApiHeaders</argument>
            <argument name="apiConfig" xsi:type="object">HawkSearch\EsIndexing\Gateway\Config\EsIndexingApiConfig</argument>
        </arguments>
    </virtualType>
    <!-- END deleteIndex Instruction  -->

    <!-- indexItems Instruction  -->
    <virtualType name="HawkSearchEsIndexingIndexItemsInstruction" type="HawkSearch\Connector\Gateway\Instruction\GatewayInstruction">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">HawkSearchEsIndexingIndexItemsRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">HawkSearchEsIndexingIndexItemsTransferFactory</argument>
            <argument name="client" xsi:type="object">HawkSearch\Connector\Gateway\Http\Client</argument>
            <argument name="validator" xsi:type="object">HawkSearchEsIndexingIndexItemsBadResponseValidator</argument>
            <!--<argument name="handler" xsi:type="object">HawkSearchEsIndexingGetIndexListHandler</argument>-->
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingIndexItemsRequestBuilder" type="HawkSearch\Connector\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="strict_data_builder" xsi:type="string">HawkSearch\Connector\Gateway\Request\StrictDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingIndexItemsTransferFactory" type="HawkSearch\Connector\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="path" xsi:type="string">api/v2/indexing/index-items</argument>
            <argument name="method" xsi:type="string">POST</argument>
            <argument name="headers" xsi:type="object">HawkSearchApiHeaders</argument>
            <argument name="apiConfig" xsi:type="object">HawkSearch\EsIndexing\Gateway\Config\EsIndexingApiConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingIndexItemsBadResponseValidator" type="HawkSearch\Connector\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="badRequestValidator" xsi:type="string">HawkSearch\EsIndexing\Gateway\Validator\IndexItemsBadRequestValidator</item>
            </argument>
            <argument name="chainBreakingValidators" xsi:type="array">
                <item name="httpCodeValidator" xsi:type="string">httpCodeValidator</item>
                <item name="badRequestValidator" xsi:type="string">badRequestValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END indexItems Instruction  -->

    <!-- deleteItems Instruction  -->
    <virtualType name="HawkSearchEsIndexingDeleteItemsInstruction" type="HawkSearch\Connector\Gateway\Instruction\GatewayInstruction">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">HawkSearchEsIndexingDeleteItemsRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">HawkSearchEsIndexingDeleteItemsTransferFactory</argument>
            <argument name="client" xsi:type="object">HawkSearch\Connector\Gateway\Http\Client</argument>
            <argument name="validator" xsi:type="object">HawkSearchEsIndexingDeleteItemsBadResponseValidator</argument>
            <!--<argument name="handler" xsi:type="object">HawkSearchEsIndexingGetIndexListHandler</argument>-->
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingDeleteItemsRequestBuilder" type="HawkSearch\Connector\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="strict_data_builder" xsi:type="string">HawkSearch\Connector\Gateway\Request\StrictDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingDeleteItemsTransferFactory" type="HawkSearch\Connector\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="path" xsi:type="string">api/v2/indexing/delete-items</argument>
            <argument name="method" xsi:type="string">POST</argument>
            <argument name="headers" xsi:type="object">HawkSearchApiHeaders</argument>
            <argument name="apiConfig" xsi:type="object">HawkSearch\EsIndexing\Gateway\Config\EsIndexingApiConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingDeleteItemsBadResponseValidator" type="HawkSearch\Connector\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="badRequestValidator" xsi:type="string">HawkSearch\EsIndexing\Gateway\Validator\DeleteItemsBadRequestValidator</item>
            </argument>
            <argument name="chainBreakingValidators" xsi:type="array">
                <item name="httpCodeValidator" xsi:type="string">httpCodeValidator</item>
                <item name="badRequestValidator" xsi:type="string">badRequestValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END deleteItems Instruction  -->

    <!-- postFields Instruction  -->
    <virtualType name="HawkSearchPostFieldInstruction">
        <arguments>
            <argument name="validator" xsi:type="object">HawkSearchEsIndexingFieldBadResponseValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchEsIndexingFieldBadResponseValidator" type="HawkSearch\Connector\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="badRequestValidator" xsi:type="string">HawkSearch\EsIndexing\Gateway\Validator\FieldsBadRequestValidator</item>
            </argument>
            <argument name="chainBreakingValidators" xsi:type="array">
                <item name="httpCodeValidator" xsi:type="string">httpCodeValidator</item>
                <item name="badRequestValidator" xsi:type="string">badRequestValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END postFields Instruction  -->
    <!-- END Instructions  -->

    <!-- Instruction global validators   -->
    <virtualType name="HawkSearchEsIndexingBadResponseValidator" type="HawkSearch\Connector\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="badRequestValidator" xsi:type="string">HawkSearch\EsIndexing\Gateway\Validator\BadRequestValidator</item>
            </argument>
            <argument name="chainBreakingValidators" xsi:type="array">
                <item name="httpCodeValidator" xsi:type="string">httpCodeValidator</item>
                <item name="badRequestValidator" xsi:type="string">badRequestValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="HawkSearch\Connector\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="badRequestValidator" xsi:type="string">HawkSearch\EsIndexing\Gateway\Validator\BadRequestValidator</item>
            </argument>
            <argument name="chainBreakingValidators" xsi:type="array">
                <item name="httpCodeValidator" xsi:type="string">httpCodeValidator</item>
            </argument>
        </arguments>
    </type>
    <!-- END Instruction global validators   -->

    <!-- Instruction managers section -->
    <virtualType name="HawkSearchEsIndexingInstructionManager" type="HawkSearch\Connector\Gateway\Instruction\InstructionManager">
        <arguments>
            <argument name="instructionPool" xsi:type="object">HawkSearchEsIndexingInstructionsPool</argument>
        </arguments>
    </virtualType>
    <type name="HawkSearch\Connector\Gateway\Instruction\InstructionManagerPool">
        <arguments>
            <argument name="executors" xsi:type="array">
                <item name="hawksearch-esindexing" xsi:type="string">HawkSearchEsIndexingInstructionManager</item>
            </argument>
        </arguments>
    </type>
    <!-- END Instruction managers section -->

    <!-- Product indexing repository -->
    <virtualType name="HawkSearch\EsIndexing\Model\ProductRepository" type="Magento\Catalog\Model\ProductRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">HawkSearch\EsIndexing\Model\Api\SearchCriteria\ProductCollectionProcessor</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearch\EsIndexing\Model\Api\SearchCriteria\ProductCollectionProcessor" type="Magento\Catalog\Model\Api\SearchCriteria\ProductCollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="joins" xsi:type="object">HawkSearch\EsIndexing\Model\Api\SearchCriteria\CollectionProcessor\ProductItemsJoinProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearch\EsIndexing\Model\Api\SearchCriteria\CollectionProcessor\ProductItemsJoinProcessor" type="HawkSearch\EsIndexing\Model\Api\SearchCriteria\CollectionProcessor\CustomJoinProcessor">
        <arguments>
            <argument name="customJoins" xsi:type="array">
                <item name="price" xsi:type="object">HawkSearch\EsIndexing\Model\Api\SearchCriteria\JoinProcessor\ProductPrices</item>
                <item name="review_summary" xsi:type="object">HawkSearch\EsIndexing\Model\Api\SearchCriteria\JoinProcessor\ReviewRatingSummary</item>
<!--                <item name="main_attributes" xsi:type="object">HawkSearch\EsIndexing\Model\Api\SearchCriteria\JoinProcessor\ProductMainAttributes</item>-->
            </argument>
        </arguments>
    </virtualType>
    <!-- END Product indexing repository -->

    <type name="HawkSearch\EsIndexing\Model\Indexing\ProductItemsProvider">
        <arguments>
            <argument name="productRepository" xsi:type="object">HawkSearch\EsIndexing\Model\ProductRepository</argument>
        </arguments>
        <!--<plugin name="hawksearch_extend_product_items" type=""/>-->
    </type>

    <!--  TEMP  -->

    <virtualType name="IndexingItemsProviderPool" type="HawkSearch\EsIndexing\Model\Indexing\ItemsProviderPool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="products" xsi:type="string">HawkSearch\EsIndexing\Model\Indexing\ProductItemsProvider</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="HawkSearch\EsIndexing\Controller\Test\IndexItems">
        <arguments>
            <argument name="itemsProviderPool" xsi:type="object">IndexingItemsProviderPool</argument>
        </arguments>
    </type>
    <type name="HawkSearch\EsIndexing\Model\Indexing\ProductEntityIndexer">
        <arguments>
            <argument name="itemsProviderPool" xsi:type="object">IndexingItemsProviderPool</argument>
        </arguments>
    </type>

</config>
