<?xml version="1.0"?>
<!--
  /**
   * Copyright (c) 2022 Hawksearch (www.hawksearch.com) - All Rights Reserved
   *
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
   * IN THE SOFTWARE.
   */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="hawksearch_landingpage" xsi:type="array">
                    <item name="class" xsi:type="string">HawkSearch\EsIndexing\Controller\LandingPageRouter</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">70</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="HawkSearch\EsIndexing\Block\Html\Head\JsConfig\VueSearchbox" type="HawkSearch\EsIndexing\Block\Html\Head\JsConfig">
        <arguments>
            <argument name="configProcessor" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\VueSearchboxConfigProcessorComposite</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\JsonHexTag</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearch\EsIndexing\Block\Html\Head\JsConfig\VueResults" type="HawkSearch\EsIndexing\Block\Html\Head\JsConfig">
        <arguments>
            <argument name="configProcessor" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\VueResultsConfigProcessorComposite</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\JsonHexTag</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearch\EsIndexing\Block\Html\Head\JsConfig\JsGlobal" type="HawkSearch\EsIndexing\Block\Html\Head\JsConfig">
        <arguments>
            <argument name="configProcessor" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\JsGlobalConfigProcessorComposite</argument>
        </arguments>
    </virtualType>

    <virtualType name="HawkSearch\EsIndexing\Model\Layout\VueSearchboxConfigProcessorComposite"
                 type="HawkSearch\EsIndexing\Model\Layout\CompositeConfigProcessor">
        <arguments>
            <argument name="configProcessors"  xsi:type="array">
                <item name="VueConnection" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueConnectionConfigProcessor</item>
                <item name="VueSearchBox" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueSearchBoxConfigProcessor</item>
                <item name="VueParamsMapping" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueParamsMappingProcessor</item>
                <item name="VueSuggestionItem" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueSuggestionItemConfigProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearch\EsIndexing\Model\Layout\VueResultsConfigProcessorComposite"
                 type="HawkSearch\EsIndexing\Model\Layout\CompositeConfigProcessor">
        <arguments>
            <argument name="configProcessors"  xsi:type="array">
                <item name="VueConnection" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueConnectionConfigProcessor</item>
                <item name="VueTab" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueTabConfigProcessor</item>
                <item name="VueSearch" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueSearchConfigProcessor</item>
                <item name="VueParamsMapping" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueParamsMappingProcessor</item>
                <item name="VueResultItem" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueResultItemConfigProcessor</item>
                <item name="VueAdditionalParameters" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\Vue\VueAdditionalParametersProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearch\EsIndexing\Model\Layout\JsGlobalConfigProcessorComposite"
                 type="HawkSearch\EsIndexing\Model\Layout\CompositeConfigProcessor">
        <arguments>
            <argument name="configProcessors" xsi:type="array">
                <item name="common" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\JsGlobal\CommonConfigProcessor</item>
                <item name="request" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\JsGlobal\RequestConfigProcessor</item>
                <item name="pricing" xsi:type="object">HawkSearch\EsIndexing\Model\Layout\ConfigProcessor\JsGlobal\PricingConfigProcessor</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="HawkSearchCartItemsToAddDataStorage" type="HawkSearch\EsIndexing\Service\DataStorage">
        <arguments>
            <argument name="name" xsi:type="string">HawkSearchCartItemsToAddDataStorage</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearchCartItemsToRemoveDataStorage" type="HawkSearch\EsIndexing\Service\DataStorage">
        <arguments>
            <argument name="name" xsi:type="string">HawkSearchCartItemsToRemoveDataStorage</argument>
        </arguments>
    </virtualType>
    <type name="HawkSearch\EsIndexing\Plugin\Quote\OnCartAddTrackingEventPlugin">
        <arguments>
            <argument name="cartItemsToAddDataStorage" xsi:type="object">HawkSearchCartItemsToAddDataStorage</argument>
        </arguments>
    </type>
    <type name="HawkSearch\EsIndexing\Plugin\Quote\OnCartRemoveTrackingEventPlugin">
        <arguments>
            <argument name="cartItemsToRemoveDataStorage" xsi:type="object">HawkSearchCartItemsToRemoveDataStorage</argument>
        </arguments>
    </type>
    <type name="HawkSearch\EsIndexing\Observer\SendCookieOnCartCompleteObserver">
        <arguments>
            <argument name="cartItemsToAddDataStorage" xsi:type="object">HawkSearchCartItemsToAddDataStorage</argument>
            <argument name="cartItemsToRemoveDataStorage" xsi:type="object">HawkSearchCartItemsToRemoveDataStorage</argument>
        </arguments>
    </type>

    <!-- Plugins -->
    <type name="Magento\Quote\Model\Quote">
        <plugin name="hawksearch_tracking_event_on_cart_add" type="HawkSearch\EsIndexing\Plugin\Quote\OnCartAddTrackingEventPlugin" />
        <plugin name="hawksearch_tracking_event_on_cart_remove" type="HawkSearch\EsIndexing\Plugin\Quote\OnCartRemoveTrackingEventPlugin" />
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="hawksearch_tracking_price_data" type="HawkSearch\EsIndexing\Plugin\Checkout\CustomerData\Cart"/>
    </type>
    <!-- END Plugins -->
</config>
