<?xml version="1.0"?>
<!--
  /**
   * Copyright (c) 2024 Hawksearch (www.hawksearch.com) - All Rights Reserved
   *
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
   * IN THE SOFTWARE.
   */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="hawksearch_esindexing_layout" instance="HawkSearch\EsIndexing\Observer\LayoutUpdateHandler" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="hawksearch_tracking_order_success" instance="HawkSearch\EsIndexing\Observer\TrackSaleEventOnOrderSuccessObserver" />
    </event>
    <event name="multishipping_checkout_controller_success_action">
        <observer name="hawksearch_tracking_order_success" instance="HawkSearch\EsIndexing\Observer\TrackSaleEventOnOrderSuccessObserver" />
    </event>
    <event name="controller_action_postdispatch">
        <observer name="hawksearch_tracking_postdispatch" instance="HawkSearch\EsIndexing\Observer\SendCookieOnCartCompleteObserver" />
    </event>
    <event name="catalog_controller_category_init_after">
        <observer name="hawksearch_inti_current_category" instance="HawkSearch\EsIndexing\Observer\InitCurrentCategoryObserver"/>
    </event>
</config>
