<?xml version="1.0"?>
<!--
  /**
   * Copyright (c) 2022 Hawksearch (www.hawksearch.com) - All Rights Reserved
   *
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
   * IN THE SOFTWARE.
   */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hawksearch_connector">
            <group id="api_settings">
                <field id="engine_name" showInDefault="0" showInWebsite="0" showInStore="0"  />
                <group id="hawk_url" showInDefault="0" showInWebsite="0" showInStore="0"  />
            </group>
        </section>
        <section id="hawksearch_indexing_settings" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Indexing</label>
            <tab>hawksearch</tab>
            <resource>HawkSearch_EsIndexing::hawksearch_esindexing</resource>
            <group id="indexing" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Indexing</label>
                <field id="enable_indexing" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Indexing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables indexing of your data by Hawksearch.</comment>
                </field>
                <field id="items_batch_size" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximal number of items per iteration</label>
                    <comment>Default value is 500.</comment>
                    <comment>
                        <![CDATA[
                            Specify product attributes.
                        ]]>
                    </comment>
                </field>
                <field id="products_include_categories_hierarchy" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include all parent categories for products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Include all parent categories in the hierarchy when indexing products, even if they are not selected for the product directly.</comment>
                </field>
            </group>
        </section>
        <section id="hawksearch_search_settings" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Search</label>
            <tab>hawksearch</tab>
            <resource>HawkSearch_EsIndexing::hawksearch_esindexing</resource>
            <group id="search" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search</label>
                <field id="enable_search" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                            Enable <a href="https://www.hawksearch.com/" target="_blank">Hawksearch</a> to Power Search on Your Terms.
                        ]]>
                    </comment>
                </field>
            </group>
        </section>

        <section id="hawksearch_product_settings" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Products</label>
            <tab>hawksearch</tab>
            <resource>HawkSearch_EsIndexing::hawksearch_esindexing</resource>
            <group id="products" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Products</label>
                <field id="custom_attributes" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attributes</label>
                    <frontend_model>HawkSearch\EsIndexing\Block\Adminhtml\System\Config\Product\CustomAttributes</frontend_model>
                    <backend_model>HawkSearch\EsIndexing\Model\Config\Backend\Serialized\ProductAttributes</backend_model>
                    <comment>
                        <![CDATA[
                            Specify product attributes.
                        ]]>
                    </comment>
                </field>

            </group>
        </section>
        <section id="hawksearch_advanced_settings" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced</label>
            <tab>hawksearch</tab>
            <resource>HawkSearch_EsIndexing::hawksearch_esindexing</resource>
            <group id="advanced" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="remove_pub_assets_url" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove pub folder from assets url</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                                Enable this setting if you want to remove pub/ from assets urls which are exporting to
                                Hawksearch index. It is needed if your server is configured to serve files from
                                Magento’s pub/ directory.</br>
                                <strong>Example</strong>: http://example.com/pub/media/catalog/product/image.jpg
                                is transformed to http://example.com/media/catalog/product/image.jpg
                            ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
